<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Deposito de Farmacia</title>
	<link rel="stylesheet" type="text/css" href="css/style_Login.css">
</head>
<body>

	<div class="body"></div>
		<div class="grad"></div>
			<div class="header">
			<div>Deposito<span><br>
				Farmaceutico</span>
			</div>
			</div>
		<br>
		<div class="login">
				<input type="text" placeholder="Usuario" name="user"><br>
				<input type="password" placeholder="Contraseña" name="password"><br>
				<input type="button" value="Iniciar">
				<br>
				<a  href="registrate.html">Registrate</a>
		</div>



</body>
</html>